asgiref==3.6.0
Django==4.1.5
sqlparse==0.4.3

django-admin-generator==2.2.1
psycopg2-binary==2.9.3
pylint==2.15.5
django-polymorphic
django-autoslug

django-filter==21.1
django-cors-headers==3.11.0
markdown==3.4.1


# django-heroku==0.3.1
gunicorn==20.1.0
whitenoise==6.2.0
boto3==1.24.46
filebrowser-safe==1.1.1
django-storages==1.12.3
django-filebrowser-no-grappelli==4.0.1


redis==4.3.4
channels==3.0.5
daphne==3.0.2
pytz==2022.1
channels-redis==3.4.1